.body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.uk-img {
    max-width: 40%;
    margin: 0 auto;
}

.date,
.time {
    font-size: 34px;
    font-weight: bold;
    margin: 5px 0 0;
}

.time--child {
    margin: 0;
    padding: 0;
}